
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


:root {
    --cor-amarela: #EFB43A;  
    --cor-cinza: #3D3D3F;  
    --cor-texto: #E7E7E5;
    --fonte-texto: 'Roboto Condensed', sans-serif;
    --fonte-texto2: 'Inter', sans-serif; 
    --fonte-titulo: 'Playfair Display', serif; }

/****Css reset***/
*{
    font-family: var(--fonte-texto);
    padding: 0;
    margin: 0;
    box-sizing: unset;
    background-color: var(--cor--fundo) ;
    color: var(--cor-texto) }


#produtos{   
    background-image: url(img/fundo\ madera.jpg);   
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
    


header{
    display: flex;
    align-items: center; /*Centralização vertical*/ 
    justify-content: center; 
    height: 150px;
    flex-direction: baseline; }


header:hover{
    filter: brightness(0.9);
    filter:opacity(100%);}


.logo{
    display: flex;
    justify-content: center;   
    width: 250px;
    margin-top: 20px;
    margin-left: 100px; }

#menu-principal{
    display:flex;     
    justify-content: center; /*Centralização horizontal*/  
    align-items: flex-end; /*Centralização vertical*/    
    background-color: transparent;
    color: wheat;
    min-height: 25%;
    height: 36px;
    width: 100%;
    margin-top: 10px; }


#menu-principal ul {   
    display: flex;   
    list-style: none;  } /* Tira a decoração da lista */    



#menu-principal ul li {
    display: flex;
    height: 36px;
    margin: 0 10px; /* 0 topo e fundo, 10px esquerda e direita */   
    font-family: var(--fonte-titulo);  } 



#menu-principal ul li a{   
    text-decoration: none;
    display: flex ; 
    background-color: var(--cor-fundo-clara);   
    font-size: 20px;
    align-items: center; 
    padding: 0 10px;     
    transition: 300ms;
    color: var(--cor-texto); }



#menu-principal ul li a:hover{
    color: var(--cor-amarela); }



main{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: stretch; /*Meus filhos tem meu tamanho*/    
    height: 1800px; } 



section{
    display: flex;
    justify-content: top; 
    align-items: top;
    flex-direction: column;    
    background-color: var(--cor-fundo);      
    margin: 5px;
    font-family: var(--fonte-texto); }



#quadro{
    margin-top: 50px;
    display: flex;
    width: 1200px;
    height: 1600px;
    justify-content: space-around;
    text-align: center;
    
   
}

main h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: var(--fonte-texto);
    margin-top: 20px;

}
main h3{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: var(--fonte-texto);
    
    
}


.lado-direito h3{
    display: flex;
    justify-content: center;
    
    
}
.lado-esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    
    
    

}
.img-esquero{
    margin: 20px 0 0 0;    
    align-items: flex-start;
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
    border: 2px solid var(--cor-amarela);
    background-color: var(--cor-cinza);
    
}

.lado-direito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.img-direito{
    margin: 20px 0 0 0;    
    align-items: center;
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
    border: 2px solid var(--cor-amarela);
    background-color: var(--cor-cinza);
}




footer{
    display: flex;
    justify-content: flex-start; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/  
    background-color: var(--cor-fundo-clara);
    min-height: 50px;  
    background-color: #E7E7E5; 
    filter: brightness(0.1); 
    justify-content: space-around;
    flex-shrink: 0;    
    filter:opacity(50%);
    transition: 300ms;  }



footer a{
    color: #333333;
    text-decoration: none;  }



footer a:hover{
    text-decoration: underline;  }



footer img:hover{
    filter:saturate(70%)}



footer:hover{
    filter: brightness(0.9);
    filter:opacity(100%);  }



footer img {
    display: flex;
    width: 60px;
    justify-content: flex-end;
    padding: 10px;  }



#logo-footer{
    width: 170px; }



.social-footer img{
    margin: -16px;
    width: 50px;  }
    


address{
    text-align: center;
    padding: 20px;
    color: black;  }



/*Regras para tela com largura até 600px*/
@media screen and (max-width: 600px){
    main{
        /* Muda a direção dos filhos para coluna vertical*/
        flex-direction: column;
    }
    section, aside{
        width: 100%;
    }
} 