
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* 

    Cor primaria: #F9D84D 
    cor primaria clara: #FFE36E
    cor secundaria: #1B5173
    cor secundaria clara: #487A9B
    cor de fundo: #333333
    cor do texto: #cccccc
*/
/* VARIAVEIS */
:root {
    --cor-prim: black;
    --cor-prim-clara: #FFE36E;
    --cor-secun: #F94D58;
    --cor-secun-clara:  #FD9CA3;
    --cor-fundo: #333333;
    --cor-fundo-clara: #B8B6B6;
    --cor-texto: #cccccc;
    --fonte-texto: 'IBM Plex Sans', sans-serif;
    --fonte-titulo: 'Playfair Display', serif;
    
}

/****Css reset***/
*{
    font-family: var(--fonte-texto);
    padding: 0;
    margin: 0;
    box-sizing: unset;
    background-color: var(--cor--fundo) ;
    color: var(--cor-texto)
}


body{
    background-color: var(--cor-fundo);
}

header{
    display: flex;
    align-items: center; /*Centralização vertical*/ 
    justify-content: center;     
    background-color:var(--cor-prim);
    min-height: 50px;
    flex-wrap: wrap;
       
}


.logo{
    display: flex;
    justify-content: center;   
    width: 300px; 
    
    
}
#menu-principal{
    display:flex;     
    justify-content: center; /*Centralização horizontal*/  
    align-items: flex-end; /*Centralização vertical*/    
    background-color: var(--cor-fundo-clara);
    color: black;
    min-height: 25%;
    height: 36px;
    width: 100%;
    
}
#menu-principal ul {   
    display: flex;   
    list-style: none; /* Tira a decoração da lista */ 
      
}

#menu-principal ul li {
    display: flex;
    height: 36px;
    margin: 0 10px; /* 0 topo e fundo, 10px esquerda e direita */   
    font-family: var(--fonte-titulo);
    ;
    
}
#menu-principal ul li a{   
    display: flex ; 
    background-color: var(--cor-fundo-clara);   
    height: 36px;
    align-items: center; 
    padding: 0 10px;     
    transition: 300ms;
    color: black;
     
}
#menu-principal ul li a:hover{
    filter: brightness(1.2); /* menor que 0 escurece a cor de fundo, maior que 0 */
    filter:drop-shadow(10);

}
main{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: stretch; /*Meus filhos tem meu tamanho*/    
    min-height: 1000px;

}


section{
    display: flex;
    justify-content: top; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    flex-direction: column;/*filhos em coluna*/
    /*border: 1px solid rgb(32, 1, 53); */
    background-color: var(--cor-fundo);
    min-height: 50%;
    flex-grow: 1;
    margin: 5px;
}
main h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 30px;
}

article{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    /*border: 1px solid rgb(182, 135, 6);*/
    background-color:var(--cor-fundo);
    margin: 5px;
    min-height: 50px;
    width: 100%;
}
article p {
    padding: 30px;
    text-align: center;
}


footer{
    display: flex;
    justify-content: flex-start; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/  
    background-color: var(--cor-fundo-clara);
    min-height: 50px;
    justify-content: space-around;
    
}
footer a{
    color: #333333;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

footer img {
    display: flex;
    width: 60px;
    justify-content: flex-end;
    padding: 10px;
}

#logo-footer{
    width: 200px;
}
.social-footer img{
    margin: -16px;
    width: 50px;
    
}
address{
    text-align: center;
    padding: 20px;
    color: black;
}
/*Regras para tela com largura até 600px*/
@media screen and (max-width: 600px){
    main{
        /* Muda a direção dos filhos para coluna vertical*/
        flex-direction: column;
    }
    section, aside{
        width: 100%;
    }
} 