
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


:root {
    --cor-amarela: #EFB43A;  
    --cor-cinza: #3D3D3F;  
    --cor-texto: #E7E7E5;
    --fonte-texto: 'Roboto Condensed', sans-serif;
    --fonte-texto2: 'Inter', sans-serif; 
    --fonte-titulo: 'Playfair Display', serif; }

/****Css reset***/
*{
    font-family: var(--fonte-texto);
    padding: 0;
    margin: 0;
    box-sizing: unset;
    background-color: var(--cor--fundo) ;
    color: var(--cor-texto) }


body{   
    background-image: url(img/img_background/back06.jpg);   
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
    


header{
    display: flex;
    align-items: center; /*Centralização vertical*/ 
    justify-content: center; 
    height: 150px;
    flex-direction: baseline; }


header:hover{
    filter: brightness(0.9);
    filter:opacity(100%);}


.logo{
    display: flex;
    justify-content: center;   
    width: 250px;
    margin-top: 5px;
    margin-left: 100px; }

#menu-principal{
    display:flex;     
    justify-content: center; /*Centralização horizontal*/  
    align-items: flex-end; /*Centralização vertical*/    
    background-color: transparent;
    color: wheat;
    min-height: 25%;
    height: 36px;
    width: 100%;
    margin-top: 10px; }


#menu-principal ul {   
    display: flex;   
    list-style: none;  } /* Tira a decoração da lista */    



#menu-principal ul li {
    display: flex;
    height: 36px;
    margin: 0 10px; /* 0 topo e fundo, 10px esquerda e direita */   
    font-family: var(--fonte-titulo);  } 



#menu-principal ul li a{   
    text-decoration: none;
    display: flex ; 
    background-color: var(--cor-fundo-clara);   
    font-size: 20px;
    align-items: center; 
    padding: 0 10px;     
    transition: 300ms;
    color: var(--cor-texto); }



#menu-principal ul li a:hover{
    color: var(--cor-amarela); }



main{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: stretch; /*Meus filhos tem meu tamanho*/    
    min-height: 500px; } 



section{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    flex-direction: column;/*filhos em coluna*/
    /*border: 1px solid rgb(32, 1, 53); */
    background-color: var(--cor-fundo);
    min-height: 50%;  
    margin: 5px;
    font-family: var(--fonte-texto); }

#bloco{
    display: flex;
    width: 1000px;
    height: 400px;
    background-color: var(--cor-cinza);
    outline: 5px solid var(--cor-amarela);
    outline-offset: -20px;
    margin-bottom: 40px;
}

#bloco p {
    display: flex;
    width: 65%;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

#foto{
    display: flex;
    background-color: var(--cor-texto);
    width: 26%;
    height:344px;
    margin-top: 29px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    color: var(--cor-cinza);
}

#foto p{    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}#foto img{
    border-radius: 16px;
}

article{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    /*border: 1px solid rgb(182, 135, 6);*/
    background-color:var(--cor-fundo);
    margin: 5px;
    min-height: 50px;
    width: 100%;  }



article p {
    padding: 30px;
    text-align: center;}

section h1{
    margin-bottom: 30px;
    font-size: 2rem;
}

figure img{
    margin-top: 20px;
    border:solid 4px rgb(255, 255, 255);
    width: 600px;
    height: 250px;
    border-radius: 25px;  }



footer{
    display: flex;
    justify-content: flex-start; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/  
    background-color: var(--cor-fundo-clara);
    min-height: 50px;  
    background-color: #E7E7E5; 
    filter: brightness(0.1); 
    justify-content: space-around;
    flex-shrink: 0;    
    filter:opacity(50%);
    transition: 300ms;  }



footer a{
    color: #333333;
    text-decoration: none;  }



footer a:hover{
    text-decoration: underline;  }



footer img:hover{
    filter:saturate(70%)}



footer:hover{
    filter: brightness(0.9);
    filter:opacity(100%);  }



footer img {
    display: flex;
    width: 60px;
    justify-content: flex-end;
    padding: 10px;  }



#logo-footer{
    width: 170px; }



#redes-social-footer{
    display: flex;
    
}

#redes-social-footer img{
    width: 45px;
}
    


address{
    text-align: center;
    padding: 20px;
    color: black;  }



/*Regras para tela com largura até 600px*/
@media (max-width: 1200px) {
    body {
      border: 4px solid yellow;
    }
  
    footer{
        flex-direction: column;        
        justify-content: center;
        height: 400px;
        justify-content: first baseline;
    } 
    
    footer div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 35px;
    }

    footer div a{
        
        margin-right: 30px;
    }

    #social ul li a span {
      display: none; /* Não preserva o espaço do elemento */
    } 
    
}
  
  /* Dispositivos (tablets) */
  @media (max-width: 992px) {
    body {
        border: 4px solid aqua;
      }

    
      #bloco {
        width: 800px;
        height: 800px;
        flex-direction: column; 
        justify-content: center;
        align-items: center;       
    }

    #bloco p {
        width: 90%;
    }

    #foto{
        width: 300px;
    }


    footer{
        flex-direction: column;        
        justify-content: center;
        height: 400px;
        justify-content: first baseline;
    } 
    footer div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 35px;
       
        
    }
    footer div a{
        
        margin-right: 30px;
    }
     
}
  
  /* Dispositivos (celulares) médios */
  @media (max-width: 768px) {
    body {
        border: 4px solid green;
      }
      
    #bloco{
        width: 700px;
        height: 900px;
    }
    header {
        flex-direction: column;
        }
    header img{
        margin-top: 30px;
    }
    footer {
      flex-direction: column;
      justify-content: flex-end;

    }
  
    footer img, footer address {
      margin-bottom: 20px;
    }
  
}
  
  /* Dispositivos (celulares) pequenos */
  @media (max-width: 576px) {
    body {
        border: 4px solid red;
      }
    section h1{
        margin-top: 100px;
    }
    #bloco{
        width: 500px;
        height: 1000px;
    }


    main{
        text-align: center;
        justify-content: center;
    }
  
    /* Empilha os elementos do header */
    header {
      flex-direction: column;
    }
    footer {
        flex-direction: column;
        justify-content: flex-end;
  
      }
}