
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


:root {
    --cor-amarela: #EFB43A;  
    --cor-cinza: #3D3D3F;  
    --cor-texto: #E7E7E5;
    --fonte-texto: 'Roboto Condensed', sans-serif;
    --fonte-texto2: 'Inter', sans-serif; 
    --fonte-titulo: 'Playfair Display', serif; }

/****Css reset***/
*{
    font-family: var(--fonte-texto);
    padding: 0;
    margin: 0;
    box-sizing: unset;
    background-color: var(--cor--fundo) ;
    color: var(--cor-texto) }


#serviços{   
    background-image: url(img/fundo\ corte.jpg);   
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
    


header{
    display: flex;
    align-items: center; /*Centralização vertical*/ 
    justify-content: space-between; 
    height: 150px;
    flex-direction: baseline; }


header:hover{
    filter: brightness(0.9);
    filter:opacity(100%);}


.logo{
    display: flex;
    justify-content: center;   
    width: 250px; 
    margin-left: 100px; }


#menu-principal{
    display:flex;     
    justify-content: center; /*Centralização horizontal*/  
    align-items: flex-end; /*Centralização vertical*/    
    background-color: transparent;
    color: wheat;
    min-height: 25%;
    height: 36px;
    width: 100%;
    margin-top: 10px; }


#menu-principal ul {   
    display: flex;   
    list-style: none;  } /* Tira a decoração da lista */    



#menu-principal ul li {
    display: flex;
    height: 36px;
    margin: 0 10px; /* 0 topo e fundo, 10px esquerda e direita */   
    font-family: var(--fonte-titulo);  } 



#menu-principal ul li a{   
    text-decoration: none;
    display: flex ; 
    background-color: var(--cor-fundo-clara);   
    font-size: 20px;
    align-items: center; 
    padding: 0 10px;     
    transition: 300ms;
    color: var(--cor-texto); }



#menu-principal ul li a:hover{
    color: var(--cor-amarela); }



main{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: stretch; /*Meus filhos tem meu tamanho*/    
    min-height: 500px; 
} 

section{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    flex-direction: column;/*filhos em coluna*/
    /*border: 1px solid rgb(32, 1, 53); */
    background-color: var(--cor-fundo);
    /*min-height: 50%;*/  
    margin: 5px;
    width: 100%;
    font-family: var(--fonte-texto); 
}

section > h2{
    text-align: left;
    width: 100%;
    color: var(--cor-texto);
    font-family: var(--fonte-titulo);
    font-style: italic;
    font-size: 2rem;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
}

.teste1{
    border: 1px solid black;
    background-color: black;
    width: 300px;
    height: 360px;
    margin: 20px;
    border-radius: 16px;
}

.teste1 div{
    height: 360px;
    border-radius: 16px;
}

.teste1 img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.teste1 h1{
    margin: 20px;
    font-family: var(--fonte-titulo);
    font-size: 1.75rem;
    color: black;
}
.teste1 p{
    color: black;
    margin: 0 20px;
}
main h2{
    font-family: var(--fonte-texto1);
    font-size: 60px;
    font-style: normal;
    padding-top: 30px;
    align-items:flex-start  
}


    
article{
    display: flex;
    justify-content: center; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/
    /*border: 1px solid rgb(182, 135, 6);*/
    background-color:var(--cor-fundo);
    margin: 5px;
    min-height: 50px;
    width: 100%;  }
    
article p {
    padding: 30px;
    text-align: center;
}


/*figure img{
    margin-top: 20px;
    border:solid 4px rgb(255, 255, 255);
    width: 600px;
    height: 250px;
    border-radius: 25px;  
}*/



footer{
    display: flex;
    justify-content: flex-start; /*Centralização horizontal*/
    align-items: center; /*Centralização vertical*/  
    background-color: var(--cor-fundo-clara);
    min-height: 50px;  
    background-color: #E7E7E5; 
    filter: brightness(0.1); 
    justify-content: space-around;
    flex-shrink: 0;    
    filter:opacity(50%);
    transition: 300ms;  }



footer a{
    color: #333333;
    text-decoration: none;  }



footer a:hover{
    text-decoration: underline;  }



footer img:hover{
    filter:saturate(70%)}



footer:hover{
    filter: brightness(0.9);
    filter:opacity(100%);  }



footer img {
    display: flex;
    width: 60px;
    justify-content: flex-end;
    padding: 10px;  }



#logo-footer{
    width: 170px; }



.social-footer img{
    margin: -16px;
    width: 50px;  }
    


address{
    text-align: center;
    padding: 20px;
    color: black;  }



/*Regras para tela com largura até 600px*/
@media screen and (max-width: 600px){
    main{
        /* Muda a direção dos filhos para coluna vertical*/
        flex-direction: column;
    }
    section, aside{
        width: 100%;
    }
} 